.gadgets {

	@media ( max-width: 1200px ) {
	}

	@media ( max-width: 991px ) {
		&__title {
			align-self: center;
			padding-left: 50px;
			br {
				display: none;
			}
		}
	}

	@media ( max-width: 768px ) {
	}

	@media ( max-width: 650px ) {
		&__title {
			 grid-column-start:1;
			 grid-column-end: 1;
			 padding-left: 20px;
		}
		&__content {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			gap: 10px;
		}
	}

	@media ( max-width: 650px ) {
		&__title {
			text-align: center;
			padding: 0;
		}
		
	}

	@media ( max-width: 320px ) {
		
	}
}