.presents {

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/presents/back.png) no-repeat;
    background-position: 0 130%;
    background-size: 100%;
    max-width: 350px;
    height: 400px;
    padding-bottom: 60px;
    margin: 0 auto;

  }

  &__card-img {
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    img {
      display: block;
      width: 90%;
      
      margin: auto;
    }
   
  }
  h4 {
    display: block;
    text-align: center;
    margin-top: auto;
  }

  .swiper-btns {
    top:50%;
    transform: translate(0%, -50%);
    right: 2%;
    width: 97%;
    z-index: 5;
  }

}