* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,:active {
    outline: none;
  }
  a:focus,a:active {
    outline: none;
  }
  
  
  nav,footer,header,aside {
    display: block;
  }
  
  
  html,body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
	  font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  
  input,button,textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,a:visited {
    text-decoration: none;
    color: #0A0521;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  h1 {
    font: 700 110px/100px 'Bebas Neue';
      margin-bottom: 20px;
    @media (max-width: 1440px) {
      font: 700 90px/90px 'Bebas Neue';
    }
    @media (max-width: 1024px) {
      font: 700 70px/70px 'Bebas Neue';
    }
    @media (max-width: 992px) {
      font: 700 60px/60px 'Bebas Neue';
    }
    @media (max-width: 425px) {
      font: 700 35px/35px 'Bebas Neue';
    }
  }

  h2 {
    font: 700 80px/84px 'Bebas Neue';
      margin-bottom: 20px;
    @media (max-width: 1440px) {
      font: 700 90px/90px 'Bebas Neue';
    }
    @media (max-width: 1024px) {
      font: 700 70px/70px 'Bebas Neue';
    }
    @media (max-width: 992px) {
      font: 700 40px/40px 'Bebas Neue';
    }
    @media (max-width: 425px) {
      font: 700 26px/26px 'Bebas Neue';
    }
  }

  h3 {
    font: 700 56px/56px 'Bebas Neue';
      margin-bottom: 50px;
    @media (max-width: 1440px) {
      font: 700 56px/56px 'Bebas Neue';
    }
    @media (max-width: 1024px) {
      font: 700 47px/56px 'Bebas Neue';
    }
    @media (max-width: 992px) {
      font: 700 40px/56px 'Bebas Neue';
    }
    @media (max-width: 425px) {
      font: 700 26px/26px 'Bebas Neue';
    }
  }

  h4 {
    font: 600 20px/23px 'Gilroy';
    margin-bottom: 15px;
    @media (max-width: 992px) {
      
    }

    @media (max-width: 425px) {
      font: 600 16px/19px 'Gilroy';
    }
    @media (max-width: 320px) {
    
    }
  }
 
  .wrapper {
    max-width: 1920px;
    overflow: hidden;
    box-shadow: 0 0 21px rgba(157, 163, 183, .75);
    position: relative;
    margin: 0 auto;
  }
  section {
    width: 100%;
    margin: 0 auto;
    background: #F4F9FC;
  }
  .container {
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
    padding: 150px 20px 10px;

    
    @media (max-width: 768px) {
      padding: 80px 20px 10px;
    }
  } 
  .btn {
    border-radius: 15px;
    background: #E2001A;
    color: #F4F9FC;
    font: 600 16px/26px 'Montserrat';
  }
  .btn:hover {
    border-radius: 15px;
    background:#FC142F;
  }

  .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    background-color: #13171D;
    vertical-align: middle;
  }

  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #F4F9FC;
    border: 2px solid red
  }

  .swiper-button-prev {
    position: relative;
    width: 150px;
    height: 150px;
    left: -20px;
    top: 0;
    background-image: url(../img/common/slider-down.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    
    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
      left: -10px;
    }
    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
      left: -10px;
    }
  }
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-prev:active {
    background-image: url(../img/common/slider-down-ac.png);
    
    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
      left: -10px;
    }
    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
      left: -10px;
    }
  }

  .swiper-button-disabled {
    opacity: 15%;
  }


  .swiper-button-next {
    position: absolute;
    width: 150px;
    height: 150px;
    right: -20px;
    top: 0;
    background-image: url(../img/common/slider-up.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    
    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
      right: -10px;
    }
    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
      right: -15px;
    }
  }

  .swiper-button-next:active {
    background-image: url(../img/common/slider-up-ac.png);
    
    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
      right: -10px;
    }
    @media (max-width: 450px) {
      width: 70px;
      height: 70px;
      right: -15px;
    }
  }
  .swiper-button-next::after {
    display: none;
  }

  .swiper-pagination-bullet{
    width: 4px;
    height: 4px;
    background-color: #13171D;
    vertical-align: middle;
  }

  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #F4F9FC;
    border: 2px solid red
  }

  .swiper-wrapper {
    padding-bottom: 50px;
  }

  .swiper-pagination {
    bottom: 0px;
  }

  .swiper-btns {
    position: absolute;
    width: 100%;
    top: 40%;
  }

  .no-scroll {
    overflow: hidden;
  }

body{
	overflow-x: hidden !important;
}

  
  