* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  
  *,
  *:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  :focus,:active {
    outline: none;
  }
  a:focus,a:active {
    outline: none;
  }
  
  
  nav,footer,header,aside {
    display: block;
  }
  
  
  html,body {
    height: 100%;
    width: 100%;
	  font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  
  input,button,textarea {
    font-family: inherit;
  }
  
  
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,a:visited {
    text-decoration: none;
    color: #0A0521;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }

  h4 {
    font: 600 20px/23px 'Gilroy';
    margin-bottom: 15px;
    @media (max-width: 992px) {
      
    }
    @media (max-width: 320px) {
    
    }
  }
 
  .wrapper {
    max-width: 1920px;
    overflow: hidden;
    box-shadow: 0 0 21px rgba(157, 163, 183, .75);
    position: relative;
    margin: 0 auto;
  }
  section {
    width: 100%;
    margin: 0 auto;
    background: #F4F9FC;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 10px;
  } 
  .btn {
    border-radius: 15px;
    background: #E2001A;
    color: #F4F9FC;
    font: 600 16px/26px 'Montserrat';
  }
  .btn:hover {
    border-radius: 15px;
    background:#FC142F;
  }
  
  